In [0]:
from google.colab import drive
drive.mount('/content/drive')
#!ls drive/My\ Drive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

https://www.kaggle.com/nicapotato/bow-meta-text-and-dense-features-lgbm

In [0]:
import numpy as np
import pandas as pd
from tqdm import tqdm

In [0]:
ttl1 = "Dozens of polar bears invade Russian town"
ttl2 = "We may be able to learn vocabulary while sleeping"
ttl3 = "Fortnite more popular than TV for young people"
ttl4 = "Eye tests available on your smartphone"
ttl5 = "Ninja to help promote tourism in Japan"

txt1 = "Polar bears on a Russian island in the Arctic Ocean are scaring people. At least 52 bears walk around a town. The situation is serious. Bears have chased people into their homes. The town called a polar bear emergency. It said: The people are scared. They are frightened to leave homes....Parents are afraid to let their children go to school. I have been [here] since 1983, but there have never been so many polar bears."
txt2 =  "We could learn vocabulary while we are asleep. This is great news for language learners and word lovers. Researchers showed it is possible to learn new information while sleeping deeply, and recall this information later. The researchers did tests to see if a person can remember new words and their translations while they were asleep. The researchers said our sleeping brain is much more aware than we thought."
txt3 = "Young people play Fortnite more than they watch TV. The video streaming service Netflix said gaming is becoming more popular and TV is becoming less popular. Fortnite is more popular with young men. A study said that between 2015 and 2017, men aged 21 to 30 spent more time on gaming. They went from playing 2.3 hours a day to 4 hours. Their time spent watching TV, movies or streaming fell."
txt4 = "New technology could replace the optician for eye tests. A device used with a smartphone can test our eyes and tell us how bad our eyesight is. We can then order a pair of glasses online. The device is from a company called EyeQue. It has already tested 50,000 people. It says the eye test is as good as the test from an optician. The device costs just $30. A newer version will come out later this year. It will cost around $60."
txt5 = "A ninja was a spy and fighter. They first appeared in 15th-century Japan. They were skilled in killing, fighting, destroying things and spying. They helped warlords win land and power. In the 19th century, artists and writers gave ninja great abilities, like being invisible, walking on water and being able to control fire. Today we can see ninja everywhere. They are in movies, cartoons, comics, games and manga."

In [0]:
train_df = pd.DataFrame({
    "title" : [ttl1,ttl2,ttl3,ttl4,ttl5],
    "description" : [txt1,txt2,txt3,txt4,txt5]
})

train_df.head()

,description,title
0,Polar bears on a Russian island in the Arctic ...,Dozens of polar bears invade Russian town
1,We could learn vocabulary while we are asleep....,We may be able to learn vocabulary while sleeping
2,Young people play Fortnite more than they watc...,Fortnite more popular than TV for young people
3,New technology could replace the optician for ...,Eye tests available on your smartphone
4,A ninja was a spy and fighter. They first appe...,Ninja to help promote tourism in Japan

In [0]:
textfeats = ["description", "title"]

def extract_feats_from_text(df):
  
    for cols in tqdm(textfeats):
        df[cols] = df[cols].astype(str) 
        df[cols] = df[cols].astype(str).fillna('missing') # FILL NA
        df[cols] = df[cols].str.lower() # Lowercase all text, so that capitalized words dont get treated differently
        df[cols + '_num_words'] = df[cols].apply(lambda comment: len(comment.split())) # Count number of Words
        df[cols + '_num_unique_words'] = df[cols].apply(lambda comment: len(set(w for w in comment.split())))
        df[cols + '_words_vs_unique'] = df[cols+'_num_unique_words'] / df[cols+'_num_words'] * 100 # Count Unique Words
    
    return df

In [0]:
train_df = extract_feats_from_text(train_df)

train_df.head()

100%|██████████| 2/2 [00:00<00:00, 141.44it/s]

,description,title,description_num_words,description_num_unique_words,description_words_vs_unique,title_num_words,title_num_unique_words,title_words_vs_unique
0,polar bears on a russian island in the arctic ...,dozens of polar bears invade russian town,75,56,74.666667,7,7,100.0
1,we could learn vocabulary while we are asleep....,we may be able to learn vocabulary while sleeping,68,50,73.529412,9,9,100.0
2,young people play fortnite more than they watc...,fortnite more popular than tv for young people,71,54,76.056338,8,8,100.0
3,new technology could replace the optician for ...,eye tests available on your smartphone,83,62,74.698795,6,6,100.0
4,a ninja was a spy and fighter. they first appe...,ninja to help promote tourism in japan,68,53,77.941176,7,7,100.0